<section id="sidebar">
    <div class="inner">
        <nav>
            <ul>
                <li><a href="#intro">Home</a></li>
                <li><a href="#one">Blog posts</a></li>
                <li><a href="#two">Bibliographies</a></li>
                <li><a href="#three">RSS and links</a></li>
            </ul>
        </nav>
    </div>
</section>
<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fade-up">
						<div class="inner">
							<h1>Ash Price</h1>
                            <p>Hi, I'm Ash. This is a personal site, with a blog, and some other knick-knacks.<p>
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<div class="content">
								<div class="inner">
									<h2>Blog posts</h2>
                                    $posts$
                                    <p><a href="./posts.html">See all.</a></p>
								</div>
							</div>
						</section>
					</section>
                    <!-- Two -->
                    <section id="two" class="wrapper style1 fade-up">
                        <div class="inner">
                            <h2>Bibliographies</h2>
                            <p>These are some annotated bibliographies on topics that interest me. They are posted mostly for personal reference, but someone might find some utility in them as well.</p>
                            <p>In general, I will cite whole works unless there is some reason to emphasise specific chapters of handbooks and conference proceedings (depending on the context, I may do so with sub-items or by entering different chapters under different headings). In a few cases, I will make reference to all the works of a single author. Order will variously be alphabetical or in the order I think it makes sense to give them.</p>
                            $bibs$
                            <p><a href="./bibs.html">See all bibs.</a></p>
                        </div>
                    </section>
				<!-- Three -->
					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Contact me</h2>
							<div class="inner">
								<section>
									<ul class="icons">
										<li>
											<h3>Email</h3>
											<a href="#">amprice@mailbox.org</a>
										</li>
										<li>
											<h3>Links</h3>
											<ul class="icons">
												<li><a href="https://www.github.com/ashprice" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
											</ul>
										</li>
									</ul>
								</section>
							</div>
						</div>
					</section>

			</div>
