<header class="navbar" id="header">
    <a href="/index.html" class="title">Ash Price</a>
    <nav>
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/posts.html">Blog posts</a></li>
            <li><a href="/bibs.html">Bibliographies</a></li>
            <li><a href="/misc.html">>Miscellaneous</a></li>
        </ul>
    </nav>
</header>
<div id="wrapper">
	<section class="wrapper">
        	<div id="intro" class="inner">
                        <p>Hi, I'm Ash. This is a personal site.<p>
			</div>
        </section>
	<section class="wrapper">
        	<div class="inner">
        		<h2>Blog posts</h2>
                        $posts$
                        <p><a href="./posts.html">See all.</a></p>
		</div>
	</section>
        <section class="wrapper">
                <div class="inner">
                        <h2>Bibliographies</h2>
                        <p>These are some annotated bibliographies on topics that interest me. They are posted mostly for personal reference, but some might find utility in them as well.</p>
                        <p>I will cite whole works unless there is some reason to emphasise specific chapters of handbooks and conference proceedings. In a few cases, I will make reference to all the works of a single author. Order will be alphabetical or in one I deem helpful.</p>
                        <p>The symbols <i>rap</i> at the end of entries are a personal notation. Don't worry about them.</i>.
                        $bibs$
                </div>
        </section>
        <section class="wrapper">
                <div class="inner">
                        <h2>Miscellaneous</h2>
                        $misc$
                </div>
        </section>
	<section class="wrapper">
		<div class="inner">
			<h2>Contact me</h2>
			        <div class="inner">
				        <section>
					        <ul class="icons">
						        <li>
							<h3>Email</h3>
							<a href="#">amprice@mailbox.org</a>
							</li>
						        <li>
							<h3>Links</h3>
							<ul class="icons">
                                                        <li><a href="https://www.github.com/ashprice"><ion-icon name="logo-github"><span class="label">Github</span></ion-icon></a></li>
							</ul>
							</li>
					        </ul>
                                </div>
                                </div>
				        </section>
                                </div>
