<section id="sidebar">
    <div class="inner">
        <nav>
            <ul>
                <li><a href="#intro">Home</a></li>
                <li><a href="#one">Blog posts</a></li>
                <li><a href="#two">Bibliographies</a></li>
                <li><a href="#three">Miscellaneous</a></li>
                <li><a href="#four">RSS and links</a></li>
            </ul>
        </nav>
    </div>
</section>
<!-- Wrapper -->
			<div id="wrapper">
				<!-- Intro -->
					<section id="intro" class="wrapper style1 fade-up">
						<div class="inner">
							<h1>Ash Price</h1>
                            <p>Hi, I'm Ash. This is a personal site, with a blog, and some other knick-knacks.<p>
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<div class="content">
								<div class="inner">
									<h2>Blog posts</h2>
                                    $posts$
                                    <p><a href="./posts.html">See all.</a></p>
								</div>
							</div>
						</section>
					</section>
                    <!-- Two -->
                    <section id="two" class="wrapper style1 fade-up">
                        <div class="inner">
                            <h2>Bibliographies</h2>
                            <p>These are some annotated bibliographies on topics that interest me. They are posted mostly for personal reference, but some might find utility in them as well.</p>
                            <p>I will cite whole works unless there is some reason to emphasise specific chapters of handbooks and conference proceedings. In a few cases, I will make reference to all the works of a single author. Order will be alphabetical or in one I deem helpful. Some of the politics/IR pages (for example <a href="/bibs/ir/SEA.html">this one</a>) have a 'feed' that will be updated regularly.</p>
                            $bibs$
                        </div>
                    </section>
                <!-- Three -->
                    <section id="three" class="wrapper style1 fade-up">
                        <div class="inner">
                            <h2>Miscellaneous</h2>
                            $misc$
                        </div>
                    </section>
				<!-- Four -->
					<section id="four" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Contact me</h2>
							<div class="inner">
								<section>
									<ul class="icons">
										<li>
											<h3>Email</h3>
											<a href="#">amprice@mailbox.org</a>
										</li>
										<li>
											<h3>Links</h3>
											<ul class="icons">
                                                <li><a href="https://www.github.com/ashprice"><ion-icon name="logo-github"><span class="label">Github</span></ion-icon></a></li>
                                                <li><a href="https://ashprice.github.io/atom.xml"><ion-icon name="logo-rss"><span class="label">Atom</span></ion-icon></a></li>
											</ul>
										</li>
									</ul>
							</div>
						</div>
					</section>

			</div>
